<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Detail</title>
</head>
<body>
    <h1>Detail</h1>
    <div id = "nav">
        <a href = "index.html">Home</a>
        <a href = "new.html">New Entry</a>
        <a href = "edit.html">Edit</a>

    </div>
    <section>
        <h3>Entry One 2/1/18</h3>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus egestas ante, sit amet fermentum eros sollicitudin sed. Nulla est nibh, aliquam auctor dui eget, dapibus varius lacus. Mauris posuere ipsum mattis, condimentum ligula quis, elementum urna. Fusce vulputate imperdiet sodales. Mauris finibus lectus vitae consectetur pellentesque. Aliquam urna purus, luctus vitae tempor in, iaculis a risus. Maecenas sit amet scelerisque massa. Aenean a lectus lorem. Etiam id risus vitae lectus consequat volutpat vitae et mi. Fusce tincidunt sodales nulla. Donec dignissim velit mi, ut lacinia massa posuere in. Mauris bibendum lorem non justo pharetra mattis. Aliquam accumsan, neque vel vulputate rhoncus, justo leo lacinia felis, sit amet scelerisque massa odio aliquam lacus.
                
        Proin accumsan leo auctor gravida ullamcorper. Phasellus eu hendrerit risus. Maecenas eget rhoncus arcu, vel blandit eros. Proin quis sollicitudin libero, sit amet porttitor turpis. Suspendisse commodo suscipit porttitor. Pellentesque facilisis purus dignissim, accumsan ex eget, hendrerit eros. Aliquam vestibulum mattis diam at tempus. Vivamus arcu augue, ultrices ut sem in, tincidunt malesuada eros. Cras interdum aliquam mauris ac ullamcorper. Curabitur sem velit, bibendum vel turpis vel, eleifend mattis lorem. Nunc volutpat urna ut posuere porttitor. Nullam cursus purus sed dolor gravida hendrerit. Nam ac hendrerit orci. Donec at diam molestie, suscipit est nec, placerat tortor. Ut at laoreet ante.
        </div>
    </section>
</body>
</html>